<%- include('includes/head.ejs') %>

    <h1 id="principal">Blade & Soul</h1>
    <img class="activator" src="https://www.gamingcoffee.com/wp-content/uploads/2021/08/Blade-Soul-.jpg" width="800" height="400">
    <h2>Comienza un viaje heroico para enfrentarte a las fuerzas oscuras y buscar venganza como un maestro de las artes
        marciales en Blade & Soul, el MMORPG gratuito.</h2>
    <p>Clases presentes dentro del juego:</p>
    <ul>
    <% for (let clase of clasesbs) { %>
        <li> <%= clase.nombre_clase %> : <%= clase.descripcion_clase %></li>
        <li> <img class="activator" src="<%= clase.imagen_clase %>" width="450" height="200"></li>
    <%}%></ul>
    Cuentas registradas:</p>
    <ul>
    <% for (let cuenta of accounts) { %>
        <li> Nombre de la cuenta: <%= cuenta.nombre_cuenta %> </li>
        <li> Nombre del usuario: <%= cuenta.nombre_usuario %> </li>
        <li> Fecha de creacion de la cuenta: <%= cuenta.creacion_usuario %> </li>
        <br>
    <%}%>
    </ul>
    <br>
    <% if (ultima_cuenta != '') { %>
        <p>La ultima cuenta que fue agregada es: <%= ultima_cuenta %></p>
    <% } %>  
    <br>
    <a href="Blade&Soul/nuevo">Registrar una nueva cuenta</a>
    <br><br>
    <a href="/">Regresar a la pagina principal</a>

<%- include('includes/foot.ejs') %> 